html{
    --bg-color: #ffffff;
    --secondary-color: #ffffff;
    --third-color: #6E8BC6;
    --fourth-color: #f8878f;
    --heading-color: #f8878f; 
}

html[data-theme='vintage'] {
    --bg-color: #E4DAC2;
    --secondary-color: #F4EEE1;
    --third-color: rgb(170, 162, 145);
    --fourth-color: rgb(170, 162, 145);
    --heading-color: #6b6565; 
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins';
    font-family: Poppins;
}
nav{    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #6E8BC6;
}

logo-web{
    float: left;
    width: 28px;
    height: 28px;
    margin-left: 35px;
    margin-top: 15px;
}

border-atas img{
    left: 0;
    bottom: 0;
    width: 100%;

}

.div-about{
    width: 550px;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    border: 5px solid;
    padding: 15px;
    border-image: url(../img/border-01.png) 100;
    border-image-width: 8px 0px;
}

.text-about{
    width:500px;
    margin: auto;
    margin-top: 20px;
}

.heading-about{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 25px;
}

.heading-homepage{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: var(--heading-color);
    text-align: center;
    margin: auto;
}

.status-form{
    width: 500px;
    margin: 0px auto;
    justify-content: center;
    margin-top: 20px;
}

#id-submit{
    width: 100px;
    background-color: var(--third-color);
    text-decoration: none;
	color: #fff;
	padding: 3px 6px 3px 6px;
	border: 1px solid var(--third-color);
    border-radius:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:15px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#myaccordion {
    width: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#myaccordion .ui-accordion-content {
    width: 100%;
    line-height: 16pt;
    font-family: Prata;
    font-style: normal;
    font-weight: normal; 
}

#myaccordion .ui-accordion-content > * {
    margin: 0;
    padding: 20px;
}

#myaccordion .ui-accordion-header {
    background-color: var(--third-color);
    margin:0;
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    border-radius: 6px;
}
#myaccordion .ui-accordion-header:first-of-type {
    background-color: var(--third-color);
}

#myaccordion .ui-accordion-header:nth-of-type(2) {
    background-color: var(--fourth-color);
    
}

input[id=switch]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.labelswitch {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--third-color);
	float: right;
	border-radius: 100px;
	position: relative;
}

.labelswitch:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .labelswitch {
	background: var(--heading-color);
}

input:checked + .labelswitch:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.labelswitch:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}