{% extends "base.html" %}

{% if form.errors %}
{{error}}
{% endif %}
{% if user.is_authenticated %}
    {% load static %}
    {% block head_content %}
    {% endblock %}

    {% block page_content %}
    <h1>Selamat datang, {{user}}</h1> 
    <a href="{% url 'login:mylogout' %}">
        <div class='logout'>
            Log out
        </div>
    </a>
    {% endblock %}
    {% else %}
    <h1>Please login</h1>
    <a href="{% url 'login:myloginpage' %}">
        <div class='login'>
            Log in
        </div>
    </a>
{% endif %}



