{% extends "base.html" %}

{% load static %}
{% block head_content %}
{% endblock %}

{% block page_content %}
<h1>Let's join to be a part of my website!</h1>

{% if form.errors %}
{{error}}
{% endif %}
<form method="POST" action='{% url "login:myloginpage" %}'>
    {% csrf_token %}
    <label>Username</label>
    <br>
    {{ form.username }}
    <br>
    <label>Password</label>
    <br>
    {{ form.password }}
    <br>
    <input type="submit" value="Log in" class="button">
</form>



{% endblock %}