{% extends "base.html" %}

{% load static %}
{% block head_content %}
<script>
    $( function() {
        $( "#myaccordion" ).accordion({
            collapsible: true,
            active: false,
        });
    } );
</script>
{% endblock %}

{% block page_content %}

<div class="container">
<div class="div-about container-fluid">
<h2 class="heading-about"> ABOUT ME </h2>
<img src="{% static 'img/photo2-01.jpg' %}" width="250" height="250" style="border-radius: 125px;">
<p class="text-about"> Hello! I'm Michelle and I am an Information System student at University of Indonesia. I'm interested in design and technology
    especially at web development and I'm ready to send this postcard all over the world! See you soon! :D
</p>

<div id="myaccordion">
    <h3>My Activities</h3>
    <div>
        <p>
            I am currently studying and being a media bureau staff member 
                at BEM Fasilkom UI 2019 and general secretary of Pemira IKM Fasilkom UI 2019
        </p>
    </div>
    <h3 >My Organizational dan Committee Experiences</h3>
    <div >
        <p> Bedah Kampus Universitas Indonesia 18 <br>
            CGT in Action <br>
            Compfest XI <br>
            Even Graduation Ceremony of Fasilkom UI 2019 <br>
            BEM Fasilkom UI 2019 <br>
            Pemira IKM Fasilkom UI 2019
        </p>
        
    </div>
    <h3>My Achievement</h3>
    <div>
        <p>
          Participant of Olimpiade Sains Nasional (Biology) 2016-2017 Jakarta Regional
        </p>
    </div>
</div>
</div>
</div>


{% endblock %}