{% extends "base.html" %}

{% load static %}
{% block head_content %}
{% endblock %}

{% block page_content %}
<h1> Search your book here!</h1>
<input id="search" placeholder="Title or Author">
<button id="button" type="button">Search</button>

<div class="table-responsive-md" >
    <table class="table table-bordered" id="table-books">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Publisher</th>
            <th scope="col">Date</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody id="results">
        
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
<script src="{% static 'js/bookscript.js' %}"></script>



{% endblock %}