<!DOCTYPE HTML>
{% load static %}
<html data-theme="modern">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <meta charset="utf-8">
        <title>Michelle M</title>
        {% block head_content %}
        {% endblock %}
    </head>
<body>
    <header>
        <div class="border-atas">
            <img src="{% static 'img/border-01.png' %}" width="100%" height="28" >
        </div>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{% url 'homepage:myhomepage' %}">
                <img src="{% static 'img/logo-web-01.png' %}" width="28" height="28" style="margin-left: 20px;">
            </a>
            <!-- Toggler/Collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <ul class="navbar-nav ml-auto " >
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:myhomepage' %}">Kabar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about:myabout' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books:mybooks' %}">Books</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login:myloginpage' %}">Login</a>
                </li>
            </div>
          </nav>
    </header>
    <div class="toggle-container">
        <input type="checkbox" id="switch" name="theme" /><label class="labelswitch" for="switch">Toggle</label>
    </div>

    <script>
        var tglButton = document.querySelector('input[name=theme]');
        
        tglButton.addEventListener('change', function(){
          if(this.checked){
              trans()
              document.documentElement.setAttribute('data-theme', 'vintage')
          } else{
              trans()
              document.documentElement.setAttribute('data-theme', 'modern')
          }
        })

        let trans = () => {
            document.documentElement.classList.add('transition');
            window.setTimeout( () => {
              document.documentElement.classList.remove('transition')
            }, 1000)
        }

      </script>
    {% block page_content %}
    {% endblock %}
</body>
</html>
