{% extends "base.html" %}

{% load static %}
{% block head_content %}
{% endblock %}
{% block page_content %}
<h1 class="heading-homepage"> Halo, Apa Kabar?</h1>

<form method="POST" class="form">
    {% csrf_token %}
    <p> Status </p>
    {{ form.status }}
    <input type="submit" name="Post" id="id-submit">
</form>


{% for i in daftar_status %}
<div class="card text-center bg-white mb-3 " style="width: 18rem;">
    <div class="card-header text-black">
        {{i.tanggal}}
    </div>
    <div class="card-body bg-white">
        <p class="card-text">{{i.status}}</p>
    </div>
</div>



{% endfor %}
{% endblock %}